.body {
  background-color: white;
}

.slide_container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
}


.toggle-button {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%); 
}


.toggle-button-bounce {
  top: 70%;
  left: 47%;
  transform: translate(-50%, -50%); 
  position: absolute;
  animation: bounce 5s infinite;
  animation-timing-function: ease-out;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translate(0, 0);
  }
  40% {
    transform: translate(-150px, -150px);
  }
  60% {
    transform: translate(150px, -150px);
  }
  70% {
    transform: translate(150px, 150px);
  }
  90% {
    transform: translate(-150px, 150px);
  }
}


.toggle-button-darkMode {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%); 
  background-color: rgb(200, 52, 52);
  color: rgb(226, 24, 24);
}

.body-darkMode {
  background-color: black;
}